In [1]:
#Question 1:
a = 0

def b():
    global a
    a = c(a)
    
def c(a):
    return a + 2

b()
b()
b()
a

6

When executing function b(), the function will call global variable "a" and excute function c(a). The function c(a) will increase "a" by 2 and return the new value into function b(). After that, function b() will return new value of a after increasing it by 2.

In other words, everytime the function b() is called, it will trigger function c to increase the value of the global variable "a" by 2.

After three times calling function b(), the value of a increases three times of 2 or 6. Therefore, the last expression (a) is evaluated and presented as 6.

In [2]:
#Question 2:
def fileLength(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print('File ' + file_name + ' not found.')

fileLength('idterm.py')

File idterm.py not found.

In [3]:
#Question 3:
class Marsupial:
    def __init__(self):
        self.pouch = []
    
    def put_in_pouch(self, item):
        self.pouch.append(item)
        
    def pouch_contents(self):
        print(self.pouch)

    
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [4]:
class Marsupial:
    def __init__(self, xcoord, ycoord):
        self.pouch = []
        self.x = xcoord
        self.y = ycoord
    
    def put_in_pouch(self, item):
        self.pouch.append(item)
        
    def pouch_contents(self):
        print(self.pouch)

class Kangaroo(Marsupial):
    def __str__(self):
        message = 'I am a Kangaroo located at coordinates ({},{})'.format(self.x,self.y)
        return message
    
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
    
k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

In [59]:
#Question 4:
def collatz(x):
    print(x)
    while x!=1:
        if x % 2 == 1:
            x = 3 * x + 1
        else:
            x = x / 2
        print(int(x))

try:
    number = int(input("Please enter a number: "))
    collatz(number)
    
except ValueError:
    print("This is not a number")

Please enter a number: 16
16
8
4
2
1

In [57]:
#Question 5:
def binary(n):
    if n < 0:
        print('Please enter non-negative integer')
    elif n == 0:
        return 0
    else:
        bin = ''
        while n >= 1:
            remainder = str((n % 2))
            bin = remainder + bin
            n = n // 2
        print(int(bin))

try:
    number = int(input("Please enter a number: "))
    binary(number)
    
except ValueError:
    print("This is not a number")

Please enter a number: 13
1101

In [58]:
#Question 6:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        HTMLParser.__init__(self)
        self.start = False
        self.hearder = ''
    
    def handle_starttag(self, tag, attrs):
        if len(tag) == 2:
            if tag[:1] == 'h':
                self.start = True
                self.header = tag
    
    def handle_data(self, data):
        if self.start == True:
            if data.strip():
                indt = int(self.header[1:])-1
                print(' '*indt + data)

infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

In [8]:
#Question 8
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\longph\anaconda3\lib\site-packages (0.4.1)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\longph\anaconda3\lib\site-packages (from ipython-sql) (1.4.32)
Requirement already satisfied: ipython>=1.0 in c:\users\longph\anaconda3\lib\site-packages (from ipython-sql) (8.2.0)
Requirement already satisfied: sqlparse in c:\users\longph\anaconda3\lib\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: six in c:\users\longph\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\longph\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prettytable<1 in c:\users\longph\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: pickleshare in c:\users\longph\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=5 in c:\users\longph\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: colorama in c:\users\longph\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: matplotlib-inline in c:\users\longph\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: stack-data in c:\users\longph\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pygments>=2.4.0 in c:\users\longph\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: setuptools>=18.5 in c:\users\longph\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (61.2.0)
Requirement already satisfied: jedi>=0.16 in c:\users\longph\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\longph\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: decorator in c:\users\longph\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: backcall in c:\users\longph\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\longph\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\longph\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\longph\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Requirement already satisfied: asttokens in c:\users\longph\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: executing in c:\users\longph\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in c:\users\longph\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)

In [9]:
%load_ext sql

In [10]:
%sql sqlite://

In [11]:
%%sql

DROP TABLE IF EXISTS Weather;

CREATE TABLE IF NOT EXISTS Weather(
    City varchar(15), 
    Country varchar(15), 
    Season varchar(15), 
    Temperature float, 
    Rainfall float);

 * sqlite://
Done.
Done.

[]

In [12]:
%%sql

INSERT INTO Weather VALUES('Mumbai', 'India', 'Winter', 24.8,5.9),
('Mumbai', 'India', 'Spring', 28.4,16.2),
('Mumbai', 'India', 'Summer', 27.9,1549.4),
('Mumbai', 'India', 'Fall', 27.6,346.0),
('London', 'United kingdom', 'Winter', 4.2,207.7),
('London', 'United kingdom', 'Spring', 8.3,169.6),
('London', 'United kingdom','Summer', 15.7,157.0),
('London', 'United kingdom','Fall', 10.4,218.5),
('Cairo', 'Egypt','Winter', 13.6,16.5),
('Cairo', 'Egypt', 'Spring', 20.7,6.5),
('Cairo', 'Egypt', 'Summer', 27.7,0.1),
('Cairo', 'Egypt', 'Fall', 22.2,4.5)

 * sqlite://
12 rows affected.

[]

In [13]:
%%sql

SELECT Temperature FROM Weather;

 * sqlite://
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [14]:
%%sql

SELECT DISTINCT City FROM Weather;

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

In [15]:
%%sql

SELECT * FROM Weather
WHERE Country LIKE 'India';

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [16]:
%%sql

SELECT * FROM Weather
WHERE season LIKE 'Fall';

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [17]:
%%sql

SELECT City, Country, Season FROM Weather
WHERE Rainfall >= 200 AND Rainfall <=400;

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United kingdom', 'Winter'),
 ('London', 'United kingdom', 'Fall')]

In [18]:
%%sql

SELECT City, Country FROM Weather
WHERE Temperature > 20 AND Season LIKE 'Fall'
ORDER BY Temperature ASC;

 * sqlite://
Done.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [19]:
%%sql

SELECT SUM(Rainfall) AS Total_Rainfall FROM Weather
WHERE City LIKE 'Cairo';

 * sqlite://
Done.

[(27.6,)]

In [20]:
%%sql

SELECT season, SUM(Rainfall) AS Total_Rainfall FROM Weather
GROUP BY season;

 * sqlite://
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

In [44]:
#Question 8:

import sqlite3
con = sqlite3.connect('web.db')
cur = con.cursor()
cur.execute("DROP TABLE IF EXISTS Weather")
cur.execute("CREATE TABLE IF NOT EXISTS Weather (City text, Country text, Season float, Temperature float, Rainfall float)")
cur.execute("INSERT INTO Weather VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9)")
cur.execute("INSERT INTO Weather VALUES ('Mumbai', 'India', 'Spring', 28.4, 16.2)")
cur.execute("INSERT INTO Weather VALUES ('Mumbai', 'India', 'Summer', 27.9, 1549.4)")
cur.execute("INSERT INTO Weather VALUES ('Mumbai', 'India', 'Fall', 27.6, 346.0)")
cur.execute("INSERT INTO Weather VALUES ('London', 'United kingdom', 'Winter', 4.2, 207.7)")
cur.execute("INSERT INTO Weather VALUES ('London', 'United kingdom', 'Spring', 8.3, 169.6)")
cur.execute("INSERT INTO Weather VALUES ('London', 'United kingdom','Summer', 15.7, 157.0)")
cur.execute("INSERT INTO Weather VALUES ('London', 'United kingdom','Fall', 10.4, 218.5)")
cur.execute("INSERT INTO Weather VALUES ('Cairo', 'Egypt','Winter', 13.6, 16.5)")
cur.execute("INSERT INTO Weather VALUES ('Cairo', 'Egypt', 'Spring', 20.7, 6.5)")
cur.execute("INSERT INTO Weather VALUES ('Cairo', 'Egypt', 'Summer', 27.7, 0.1)")
cur.execute("INSERT INTO Weather VALUES ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")

con.commit()

class sql:
    def __init__(self, data):
        self.table = data
    
    def insert(self, title):
        separate = []
        for name in title:
            separate.append('====================')
        self.table.insert(0, separate)          
        self.table.insert(0, title)
        
    def print_table(self):
        for data in self.table:
            line =[]
            for value in data:
                line.append(str(value).center(20))
        
            print('|'+'|'.join(line)+'|')

In [45]:
#Question 8a:
cur.execute("SELECT Temperature FROM Weather")

result = cur.fetchall()

sq = sql(result)
sq.insert(['Temperatue (c)'])
sq.print_table()

|   Temperatue (c)   |
|====================|
|        24.8        |
|        28.4        |
|        27.9        |
|        27.6        |
|        4.2         |
|        8.3         |
|        15.7        |
|        10.4        |
|        13.6        |
|        20.7        |
|        27.7        |
|        22.2        |

In [46]:
#Question 8b:
cur.execute("SELECT DISTINCT City FROM Weather")

result = cur.fetchall()

sq = sql(result)
sq.insert(['City'])
sq.print_table()

|        City        |
|====================|
|       Mumbai       |
|       London       |
|       Cairo        |

In [47]:
#Question 8c:
cur.execute("SELECT * FROM Weather WHERE Country LIKE 'India'")

result = cur.fetchall()

sq = sql(result)
sq.insert(['City', 'Country', 'Season', 'Temperature (c)', 'Rainfall (mm)'])
sq.print_table()

|        City        |      Country       |       Season       |  Temperature (c)   |   Rainfall (mm)    |
|====================|====================|====================|====================|====================|
|       Mumbai       |       India        |       Winter       |        24.8        |        5.9         |
|       Mumbai       |       India        |       Spring       |        28.4        |        16.2        |
|       Mumbai       |       India        |       Summer       |        27.9        |       1549.4       |
|       Mumbai       |       India        |        Fall        |        27.6        |       346.0        |

In [48]:
#Question 8d:
cur.execute("SELECT * FROM Weather WHERE season LIKE 'Fall'")

result = cur.fetchall()

sq = sql(result)
sq.insert(['City', 'Country', 'Season', 'Temperature (c)', 'Rainfall (mm)'])
sq.print_table()

|        City        |      Country       |       Season       |  Temperature (c)   |   Rainfall (mm)    |
|====================|====================|====================|====================|====================|
|       Mumbai       |       India        |        Fall        |        27.6        |       346.0        |
|       London       |   United kingdom   |        Fall        |        10.4        |       218.5        |
|       Cairo        |       Egypt        |        Fall        |        22.2        |        4.5         |

In [49]:
#Question 8e:
cur.execute("SELECT * FROM Weather WHERE season LIKE 'Fall'")

result = cur.fetchall()

sq = sql(result)
sq.insert(['City', 'Country', 'Season', 'Temperature', 'Rainfall'])
sq.print_table()

|        City        |      Country       |       Season       |    Temperature     |      Rainfall      |
|====================|====================|====================|====================|====================|
|       Mumbai       |       India        |        Fall        |        27.6        |       346.0        |
|       London       |   United kingdom   |        Fall        |        10.4        |       218.5        |
|       Cairo        |       Egypt        |        Fall        |        22.2        |        4.5         |

In [50]:
#Question 8f:
cur.execute("SELECT City, Country, Season FROM Weather WHERE Rainfall BETWEEN 200 AND 400")

result = cur.fetchall()

sq = sql(result)
sq.insert(['City', 'Country', 'Season'])
sq.print_table()

|        City        |      Country       |       Season       |
|====================|====================|====================|
|       Mumbai       |       India        |        Fall        |
|       London       |   United kingdom   |       Winter       |
|       London       |   United kingdom   |        Fall        |

In [51]:
#Question 8g:
cur.execute("SELECT SUM(Rainfall) AS Total_Rainfall FROM Weather WHERE City LIKE 'Cairo'")

result = cur.fetchall()

sq = sql(result)
sq.insert(['Total Rainfall (mm)'])
sq.print_table()

|Total Rainfall (mm) |
|====================|
|        27.6        |

In [52]:
#Question 8h:
cur.execute("SELECT season, SUM(Rainfall) AS Total_Rainfall FROM Weather GROUP BY season")

result = cur.fetchall()

sq = sql(result)
sq.insert(['Season', 'Total Rainfall (mm)'])
sq.print_table()

con.close()

|       Season       |Total Rainfall (mm) |
|====================|====================|
|        Fall        |       569.0        |
|       Spring       | 192.29999999999998 |
|       Summer       |       1706.5       |
|       Winter       |       230.1        |

In [31]:
#Question 9
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

a = []
for word in words:
    a.append(word.upper())
    
print(a)

b = []
for word in words:
    b.append(word.lower())
print(b)

c = []
for word in words:
    c.append(len(word))
    
print(c)

d = []
for word in words:
    list = []
    list.append(word.upper())
    list.append(word.lower())
    list.append(len(word))
    d.append(list)
    
print(d)

e = []
for word in words:
    if len(word) >= 4:
        e.append(word)

print(e)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']